.job-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .job-section {
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .job-list {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__item {
      position: relative;
    }

    &__label {
      width: 370px;
      font-size: 0.87rem;
      font-weight: 700;
      background-color: #2f303acc;
      color: $primaryWhite;
      text-align: center;
      padding: 27px 90px;
      position: absolute;
    }
  }
}
