.title {
  @extend .section;
  font-weight: 900;
  color: $primaryWhite;
  line-height: 1.36;
  margin: 0;
  font-size: 1.625rem;
  padding: 118px 58px 30px 58px;
}

.main-section {
  background-image: url(../images/background/people_mobile.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  padding-bottom: 118px;
  height: 25rem;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/background/people_mobile@2.png),
      linear-gradient(to bottom, #2f303a66, #2f303a66);
  }
}

@media (min-width: 768px) {
  .main-section {
    background-image: url(../images/background/people_tablet.png);
  }

  .title {
    padding: 118px 200px 30px 200px;
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/background/people_tablet@2.png);
  }
}

@media (min-width: 1200px) {
  .main-section {
    margin: auto;
    max-width: 1600px;
    height: 37.5rem;
    background-image: url(../images/background/people_desktop.jpg);
  }

  .title {
    font-size: 2.75rem;
    padding: 200px 312px 30px 312px;
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-width: 1200px) and (min-resolution: 192dpi),
  (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../images/background/people_desktop@2.jpg),
      linear-gradient(to bottom, #2f303a66, #2f303a66);
  }
}
