$primaryColor: #212121;
$primaryFont: "Roboto", sans-serif;
$logoFont: "Raleway", sans-serif;
$headingColor: #000000;
$secondaryColor: #2196f3;
$primaryTransition: cubic-bezier(0.4, 0, 0.2, 1);
$transitionDuration: 250ms;
$primaryShadowColor: #757575;
$primaryFontWeight: 500;
$primaryWhite: #ffffff;
$primaryBorderColor: #ececec;
$primaryIconsColor: #afb1b8;
$footerColorBg: #2f303a;


